/**
admin vli override
**/


@font-face{
    font-family:'Noto Naskh Arabic';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/NotoNaskhArabic-Regular.eot);
    src:url(ss/fonts/NotoNaskhArabic-Regular.eot?#iefix) format('embedded-opentype'),url(../fonts/NotoNaskhArabic-Regular.woff2) format('woff2'),url(../fonts/NotoNaskhArabic-Regular.woff) format('woff'),url(../fonts/NotoNaskhArabic-Regular.ttf) format('truetype')}@font-face{font-family:'Noto Naskh Arabic';
    font-style:normal;
    font-weight:700;
    src:url(../fonts/NotoNaskhArabic-Bold.eot);
    src:url(../fonts/NotoNaskhArabic-Bold.eot?#iefix) format('embedded-opentype'),url(../fonts/NotoNaskhArabic-Bold.woff2) format('woff2'),url(../fonts/NotoNaskhArabic-Bold.woff) format('woff'),url(../fonts/NotoNaskhArabic-Bold.ttf) format('truetype')}@font-face{font-family:'Noto Kufi Arabic';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/NotoKufiArabic-Regular.eot);
    src:url(../fonts/NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'),url(../fonts/NotoKufiArabic-Regular.woff2) format('woff2'),url(../fonts/NotoKufiArabic-Regular.woff) format('woff'),url(../fonts/NotoKufiArabic-Regular.ttf) format('truetype')}@font-face{font-family:'Noto Kufi Arabic';
    font-style:normal;
    font-weight:700;
    src:url(../fonts/NotoKufiArabic-Bold.eot);
    src:url(../fonts/NotoKufiArabic-Bold.eot?#iefix) format('embedded-opentype'),url(../fonts/NotoKufiArabic-Bold.woff2) format('woff2'),url(../fonts/NotoKufiArabic-Bold.woff) format('woff'),url(../fonts/NotoKufiArabic-Bold.ttf) format('truetype')}
    
.login-box .login-form{
    position: static !important;
    width: 400px;
}
.login-content .login-box{
    position: static;
}
.page-error{
    min-height: calc(100vh);
}
.user .timeline-post .post-media img, .app-sidebar__user-avatar{
    width: 50px;
}
.widget-small{
    flex-flow: row-reverse;
}
.widget-small.warning.coloured-icon .icon{
    background: #fff;
    color: #e8302d;
}
.widget-small.primary.coloured-icon .icon{
    background: #fff;
    color: #009688;
}
.widget-small.info.coloured-icon .icon{
    background: #fff;
    color: #f0932b;
}
.widget-small .info{
    padding: 10px;
}
.widget-small .info h4{
    font-weight: bold;
}
.widget-small .info h6{
    font-weight: normal;
}
.info {
    text-align: right;
}
a,p,h1,h2,h3,h4,h5,h6{
    font-family: "Noto Kufi Arabic", "Open Sans",
     "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif !important;
}

.btn > i{
    position: relative;
    left: 3px;
    top: -2px;
    color:#fff;;
}

.pager{
    padding: 20px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #a9a6a6;
}

.tile .tile-title-w-btn{
    flex-flow: row-reverse;
    margin-bottom: 0;
}
.user .profile .info img{
    padding: 2px;
    background: #eee;
}
.post-media a >  img{
    width: 130px;
    background: #eee;
    padding: 2px;
    border-radius: 50%;
}
.app-sidebar__user-avatar{
    background: #eee;
    padding: 2px;
}
.timeline-post{
    position: relative;
}
.post-media-show{
    display: flex;
    justify-content: space-around;
}
.img-modify{
    position: absolute;
    cursor: pointer;
    padding: 9px 10px;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    left: 100px;
}
.img-modify > i {
    color: #fff;
}

#up-img-input{
    display: none;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child{
    width: 17%;
}
table .btn-sm{
    margin-bottom: 4px;
}
.message-frm h6{
    color: #888;
}

.message-frm h6 span{
    color: #009688;
}
.btn-group .btn > i{
    vertical-align: -webkit-baseline-middle;
}
.btn-group .btn:first-child > i{
    position: relative;
    top: -4px;
}
.breadcrumb{
    display: block;
}
.breadcrumb > li{
    float: left;
    padding-top: 3px;
}
.breadcrumb .btn{
    float: right;
}
.clear-fix{
    clear:both;
}
.table-bordered th:last-child{
    width: 256px;
}

.pagination{
    justify-content: flex-end;
}
.btn-warning, .btn-warning:hover{
    color:  #fff;
}

.completed{
    background: #8bc34a;
    color: #fff;
}
.waiting{ 
    background:  #9e9e9e;
    color: #fff;
}
.processing{
    background: #ffeb3b;
    color: #fff;
}
.table th, .table td{
    padding: 0.5rem;
}